<div class="ccontainer">
  <div class="row ml-5 mt-5">
    <h1>会員情報編集</h1>
  </div>
  <div class="row">
    <%= form_with model: @customer, url: customer_path, method: :patch do |f| %>
    <table class="table ml-5" style="width:100%;">
      <tbody>
        <tr>
          <th >氏名</th>
          <th><%= f.text_field :first_name %></th>
          <th><%= f.text_field :last_name %></th>
        </tr>
        <tr>
          <th>フリガナ</th>
          <th><%= f.text_field :first_name_kana %></th>
          <th><%= f.text_field :last_name_kana %></th>
        </tr>
          </tr>
        <tr>
          <th>郵便番号</th>
          <th><%= f.text_field :postal_code %></th>
        </tr>
        <tr>
          <th>住所</th>
          <th><%= f.text_field :address,style:"width:400px;" %></th>
        </tr>
        <tr>
          <th>電話番号</th>
          <th><%= f.text_field :telephone_number %></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th><%= f.text_field :email,style:"width:400px;" %></th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-5">
       <%= f.submit "変更を保存",class: "btn btn-success ml-5"%>
       <% end %>
    </div>
    <div class="col-3">
       <%= link_to "退会する", unsubscribe_path,class:"btn btn-danger" %>
    </div>
   </div>
</div>


