<div class="container">
  <div class="row mt-5">
    <div class="col-2 ">
      <h1>商品編集</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-10">
        <%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>
          <table class="table ml-5 table-borderless" style="width:100%;">
            <tbody>
              <tr>
                <th>商品画像</th>
                <th><%= f.file_field :item_image,accept: "image/*" %></th>
              </tr>
              <tr>
                <th>商品名</th>
                <th><%= f.text_field :name%></th>
              </tr>
              <tr>
                <th>商品説明</th>
                <th><%= f.text_area :introduction,style:"height:200px; width:300px" %></th>
              </tr>
              <tr>
                <th>ジャンル</th>
                <th><%= f.collection_select :genre_id, Genre.all, :id, :name %></th>
              </tr>
              <tr>
                <th>税抜き価格</th>
                <th><%= f.text_field :price%></th>
              </tr>
              <tr>
                <th>販売ステータス</th>
                <th>
                  <span><%= f.radio_button :is_active, :TRUE, checked: true %></span>
                  <%= f.label :is_active, "販売中" %>
                  <span><%= f.radio_button :is_active, :FALSE %></span>
                  <%= f.label :is_active, "販売停止中" %>
                </th>
              </tr>
            </tbody>
          </table>
        <div class="mx-auto" style="width: 200px;"><%= f.submit "変更を保存",class:"btn-lg btn-success"%></div>
        <% end %>
      </div>
  </div>
</div>
