<div class="container">
  <div class="row">
    <div class="col-10">
       <h2>商品一覧</h2>
    </div>
    <div class="col-2 justify-content-end">
      <span>
        <%= link_to new_admin_item_path, class:"btn btn-lightbtn-outline " do %>
         <i class="fa-solid fa-circle-plus fa-3x"></i>
        <% end %>
      </span>
    </div>
    <table class="table table-hover table-inverse mt-3">
      <thead class="thead-light">
        <tr>
        <tr>
         <th>商品ID</th>
         <th>商品名</th>
         <th>税抜価格</th>
         <th>ジャンル</th>
         <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
       <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name, admin_item_path(item.id) %></td>
          <td><%= item.price %></td>
          <td><%= item.genre.name %></td>
            <% if item.is_active == TRUE%>
                <td class="text-success font-weight-bold">販売中</td>
            <% else %>
               <td class="text-secondary font-weight-bold">販売停止中</td>
            <% end %>
        </tr>
       <% end %>
      </tbody>
    </table>
     <div class="mx-auto pagination"><%= paginate @items %></div>

