<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="mt-5">
        <p class="text-center background_image">ようこそ、ながのCAKEへ！<br/>このサイトは、ケーキ販売のECサイトとなります。<br/>会員でない方も商品の閲覧はできますが、<br/>購入には会員登録が必要になります。</p>
      </div>
     <div class="row mx-auto mt-3 text-centerd-flex align-items-center justify-content-center text-center background_image"><%= image_tag 'カップケーキ.jpg' ,size: "700x400"%> </div>

  <h1>新着商品</h1>


      <div class="d-flex">
        <% @items.each do |item| %>
        <div>
          <div>
            <%= link_to item_path(item.id) do  %>
              <%= image_tag item.item_image, style:"height:200px; width:200px" %>
            <% end %>
          </div>
          <div>
            <%= item.name %>
          </div>
          <div>
            <%= (item.price*1.1).to_i.to_s(:delimited) %>円
          </div>
          </div>
              <% end %>
        </div>

  <%= link_to "全ての商品を見る＞", items_path,class:"mt-5 d-flex justify-content-end" %>
 </div>
  </div>



</div>

