<h1>配送先編集</h1>


<table class="table table-hover table-inverse">

          <%= form_with model: @address, url: address_path, method: :patch do |f| %>
        <tr>
          <td>郵便番号（ハイフンなし）</td>
　　　　　<td><%= f.text_field :postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address %></td>
        </tr>
        <tr>
          <td>宛先</td>
          <td><%= f.text_field :name %></td>
          <td> <%= f.submit "変更内容を保存" %> </td>
        </tr>
        <% end %>
      </tbody>
</table>