<h1>配送先登録/一覧</h1>


<table class="table table-hover table-inverse">

          <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
        <tr>
          <td>郵便番号（ハイフンなし）</td>
　　　　　<td><%= f.text_field :postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address %></td>
        </tr>
        <tr>
          <td>宛先</td>
          <td><%= f.text_field :name %></td>
          <td> <%= f.submit "新規登録" %> </td>
        </tr>
        <% end %>
      </tbody>
</table>

<table class="table table-hover table-inverse">
      <thead>
        <tr>
         <th>郵便番号（ハイフンなし）</th>
         <th>住所</th>
         <th>宛先</th>
        </tr>
      </thead>
      <tbody>
       <% @addresses.each do |addresses| %>
        <tr>
          <td><%= addresses.postal_code %></td>
          <td><%= addresses.address %></td>
          <td><%= addresses.name %></td>
          <td><%= link_to "編集する", edit_address_path(addresses.id) %><%= link_to "削除する", address_path(addresses.id) , method: :delete %></td>
        </tr>
       <% end %>
      </tbody>
</table>