<div class="container">
 <div class="row">
    <div class="col-lg-5">
     <h1>ショッピングカート</h1>
    </div>
    <div class="col-lg-7 d-flex p-2 justify-content-end">
     <%= link_to "カートを空にする" , all_url, method: :delete ,class:"btn btn-danger"%>
     
    </div>
   </div>
   <div class="row">
      <table class="table table-hover table-inverse table-bordered">
        <thead>
          <tr>
           <th>商品名</th>
           <th>単価（税込）</th>
           <th>数量</th>
           <th>小計</th>
           <th></th>
          </tr>
        </thead>
        <tbody>
         <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= image_tag cart_item.item.item_image, style:"height:80px; width:80px",class:"mr-3" %><%= cart_item.item.name %></td>
            <td><%= cart_item.item.with_tax_price %></td>
            <td> <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch do |f| %>
                 <%= f.select :amount, *[1..20]%>
                 <%= f.submit '変更', class:"btn-lg btn-success ml-5" %>
                 <% end %>
            </td>
          　<td><%= cart_item.item.with_tax_price * cart_item.amount %></td>
          　<td><%= link_to "削除する" ,cart_item_path(cart_item.id), method: :delete ,class:"btn btn-danger"%></td>
          </tr>
         <% end %>
        </tbody>
     </table>
   </div>
   <div class="row">
     <div class="col-lg-3">
       <%= link_to "買い物を続ける" ,root_path,class:"btn btn-primary" %>
     </div>
     <div class="col-lg-9">
       <table class="table table-hover table-inverse table-bordered d-flex justify-content-end">
         <thead>
           <th>合計金額</th>
            <% @cart_items.each do |cart_item| %>
            <% @total = @total + cart_item.subtotal %>
             <% end %>
           <th><%= @total %></th>

         </thead>
       </table>
     </div>
</div>
  <%= link_to "情報入力に進む" ,new_order_path,class:"btn btn-success mx-auto" %>

