<div class="container">
  <div class="row">
    <h1>注文履歴詳細</h1>
  </div>
  <div class="row mt-5">
    <div class="col-8">
      <h2>注文情報</h2>
        <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>注文日</td>
                  <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
                </tr>
                <tr>
                  <td>配送先</td>
                  <td><%= @order.delivery_postal_code %></br><%= @order.delivery_postal_address %></br><%= @order.delivery_postal_name %></td>
                </tr>
                <tr>
                  <td>支払方法</td>
                  <td><%= @order.payment_method_i18n %></td>
                </tr>
                <tr>
                  <td>ステータス</td>
                  <td><%= @order.status_i18n  %></td>
                </tr>
              </tbody>
        </table>
    </div>
    <div class="col-lg-4" >
      <h2>請求情報</h2>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="active">送料</td>
            <td><%= @order.shipping_cost%></td>
          </tr>
          <tr>
            <td class="active">商品合計</td>
            <% @order_details.each do |order_item| %>
            <% @total = @total.to_i + order_item.price_including_tax.to_i* order_item.amount.to_i%>
             <% end %>
            <th><%= @total %></th>
          </tr>
          <tr>
            <td class="active">請求合計</td>
            <td><%= @order.shipping_cost.to_i + @total.to_i%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-5">
     <h2>注文内容</h2>
    <div class="col-lg-12">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
           <th>商品</th>
           <th>単価（税込）</th>
           <th>個数</th>
           <th>小計</th>
          </tr>
        </thead>
        <tbody>
         <% @order_details.each do |order_detail| %>
                <tr>
                  <td><%= Item.find(order_detail.item_id).name %></td>
                  <td><%= order_detail.price_including_tax %></td>
                  <td><%= order_detail.amount %></td>
                  <td><%= order_detail.amount * order_detail.price_including_tax.to_i %></td>
                </tr>
            <% end %>
        </tbody>
     </table>
    </div>
</div>

