<div class="container">
  <div class="row">
　　<div class="col-12">
　　  <h1>商品一覧(全<%= @items.count%>件)</h1>

      <div class="d-flex flex-wrap ">
        <% @items.each do |item| %>
        <div class="ml-1">
          <div>
            <%= link_to item_path(item.id) do  %>
              <%= image_tag item.item_image, style:"height:200px; width:200px" %>
            <% end %>
          </div>
          <div>
            <%= link_to item.name, item_path(item.id) %>
          </div>
          <div>
            ￥<%= (item.price*1.1).to_i.to_s(:delimited) %>
          </div>
        </div>
            <% end %>
      </div>
  </div>
  <div class="mx-auto pagination"><%= paginate @items %></div>
</div>







