
  <div>
    <span><%= image_tag @item.item_image %></span>
  </div>
  <div>
    <label>商品名</label>
    <span><%= @item.name %></span>
  </div>
  <div>
    <label>商品説明</label>
    <span><%= @item.introduction %></span>
  </div>
  <div>
    <label>税込価格<br/>(税抜き価格)</label>
    <span><%= @item.price %></span>
  </div>
 <%= form_with model: @CartItem, url: cart_items_path, method: :post do |f| %>
 <%= f.select :amount, *[1..20], {include_blank: '個数選択'}%>
 <% end %>
<%= link_to "カートに入れる", cart_items_path, method: :post %>